html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('squidwardbackground.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; 
}

.start{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size:30px;
    margin-top: 600px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;

}

a {
    text-decoration: none;
  }


.start:hover {
    opacity: 70%;
}


.start {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 20px 30px;
    border: 2px solid black;
    margin-top: 10px; 
}

.start:hover {
    opacity: 70%;
    cursor: url('clicking-image.png'), pointer; 
}

.center-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    text-align: center;
    padding-right: 4%;
}

.intro-text {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 24px;
    color: white;
    text-align: center; 
}

.chad-image {
    height: 500px; 
    margin-bottom: 0px; 
}
